
@model KUSYS_Demo.Models.CourseSelectionModel


<div class="text-center">

    <body>

        <table>
            <tr>
                <td>Select Student:</td>
                <td>
                    @Html.DropDownListFor(x => x.StudentList, Model.StudentList, new { @class = "form-control", @onchange = "getVal()" })
                </td>
            </tr>
            <tr>
                <td>Add a Course:</td>
                <td>
                    @foreach (var item in Model.CourseList)
                    {
                        <div id="courseList">
                            <button id="@item.CourseId" type="button" onclick="addItem(@item.CourseId,'@item.CourseName')" class="btn btn-outline-secondary">@item.CourseName</button>
                        </div>
                    }
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button onclick="saveSelection()" class="btn btn-primary">Kaydet</button>
                </td>
            </tr>
        </table>

    </body>


</div>

@section scripts {

<script>
    var selectedListIds = [];
    $(document).ready(function () {
        console.log("Ready!");
        getVal();

    });
    function getVal() {
        var selectedVal = document.getElementById("StudentList").value;
        console.log(selectedVal)
        $.ajax({
            type: "get",
            dataType: "json",
            url: '/Course/GetStudentList/' + selectedVal,
            success: function (result) {
                console.log(result);
                selectedListIds = result[0];
                $("#courseList button").attr('class', 'btn btn-outline-secondary');
                selectedListIds.forEach(
                    function (item) {
                        $("#" + item).attr('class', 'btn btn-secondary');
                    })
            }
        });

    };

    function addItem(courseId, courseName) {
        if (selectedListIds.includes(courseId)) {
            selectedListIds = selectedListIds.filter(function (item) {
                return item !== courseId
            })
            $("#" + courseId).attr('class', 'btn btn-outline-secondary');
            return;
        }
        selectedListIds.push(courseId);
        $("#" + courseId).attr('class', 'btn btn-secondary');
        console.log(selectedListIds);

    };
    function saveSelection() {
        console.log(JSON.stringify(selectedListIds));
        selectedListIds.unshift($('#StudentList').val());
        $.ajax({
            type: "post",
            dataType: "json",
            url: '/Course/SaveSelection',
            data: JSON.stringify(selectedListIds),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert("Submitted");
            }
        });
    };
    </script>}